.List{
    list-style: none;
    cursor: pointer;
    padding-left: 5px;
    font-weight: 500;
}

.List li{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
}

.List .profileImg{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: red;
}

.contactSeparator{
    width: 60%;
    margin: auto;
    height: 0px;
    border: none;
    border-bottom: 1px solid black;
}